version: 2
jobs:
  build:
    working_directory: /app
    docker:
      - image: docker:17.05.0-ce-git
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build application Docker image
          command: |
            docker build -t 53udai/myapp:${CIRCLE_SHA1} .
      - deploy:
          name: Push application Docker image
          command: |
              docker login -u ${DOCKERHUB_USERNAME} -p ${DOCKERHUB_PASSWORD}
              docker push 53udai/myapp:${CIRCLE_SHA1}
